@font-face {
  font-family: Gilroy-R;
  src: url(./assets/fonts/Gilroy-Regular.ttf);
}
@font-face {
  font-family: Gilroy-M;
  src: url(./assets/fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: Gilroy-S;
  src: url(./assets/fonts/Gilroy-Semibold.ttf);
}
@font-face {
  font-family: Gilroy-B;
  src: url(./assets/fonts/Gilroy-Bold.ttf);
}

$main-text-color: #3a3a3a;
$secondary-text-color: #898989;
$third-text-color: #616161;
$bcg-main-color: #f9f1e7;
$bcg-secondary-color: #fcf8f3;
$accent-color: #e89f71;
$border-color: #f2f2f2;
$input-color: #828282;
$card-bcg-color: #f4f5f7;
$white: #fff;
$black: #000;
$secondary-white: #fbfbfb;
$footer-color: #2c2c2c;
$salary-green: #2ec1ac;
$salary-red: #e97171;
$old-price-color: #b0b0b0;
$dots-color: #d8d8d8;
$text-size: 16px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
}

img {
  display: block;
}

a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
  color: $main-text-color;
  font-family: Gilroy-B;
  font-size: 40px;
  line-height: 120%;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 28px;
  }

  @media screen and (max-width: 767px) {
    font-size: 20px;
  }
}

p {
  font-family: Gilroy-M;
  font-size: $text-size;
  color: $secondary-text-color;
  line-height: 150%;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 12px;
  }

  @media screen and (max-width: 767px) {
    font-size: 12px;
  }
}

button {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  line-height: 1.8;
  cursor: pointer;
}

.container {
  padding: 0 100px;
  max-width: 1440px;
  margin: 0 auto;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding: 0 30px;
  }
  @media screen and (max-width: 767px) {
    padding: 0 15px;
  }
}

.btn-view {
  display: flex;
  align-items: center;
  padding: 12px 0;
  text-align: center;
  font-family: Gilroy-S;
  line-height: 150%;
  font-size: 16px;
  transition: all 0.4s ease-in-out;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding: 8px 0;
    font-size: 14px;
  }

  @media screen and (max-width: 767px) {
    padding: 6px 0;
    font-size: 12px;
  }
}

.radio {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 27.22px;
  transition: all 0.4s ease-in-out;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    gap: 16px;
    height: 18px;
  }

  @media screen and (max-width: 767px) {
    gap: 12px;
    height: 14px;
  }

  & span {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: $dots-color;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 8px;
      height: 8px;
    }

    @media screen and (max-width: 767px) {
      width: 6px;
      height: 6px;
    }
  }

  & span.current {
    background-color: $accent-color;
    position: relative;

    &:before {
      content: "";
      width: 25px;
      height: 25px;
      border: 1px solid $accent-color;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 18px;
        height: 18px;
      }

      @media screen and (max-width: 767px) {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, $bcg-main-color 964px, $bcg-secondary-color 964px);
  padding: 40px 100px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding: 20px 20px;
    background: linear-gradient(to right, $bcg-main-color 70%, $bcg-secondary-color 70%);
  }

  @media screen and (max-width: 767px) {
    padding: 18px 15px;
    background: linear-gradient(to right, $bcg-main-color 70%, $bcg-secondary-color 70%);
    width: 100%;
  }

  & div {
    display: flex;
    gap: 43px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      gap: 20px;
    }

    @media screen and (max-width: 767px) {
      gap: 8px;
      flex-direction: column;
      width: 100%;
    }
  }

  & .main-nav {
    display: flex;
    align-items: center;
    gap: 41px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      gap: 20px;
    }

    @media screen and (max-width: 767px) {
      gap: 14px;
      flex-direction: column;
      align-items: start;
      position: relative;
    }

    &__logo {
      font-family: Gilroy-B;
      font-size: 24px;
      color: $black;

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 18px;
      }

      @media screen and (max-width: 767px) {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }

    &__list {
      display: flex;
      align-items: center;
      gap: 41px;

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        gap: 20px;
      }

      @media screen and (max-width: 767px) {
        justify-content: space-between;
        width: 100%;
        position: absolute;
        bottom: -85px;
        gap: unset;
      }
    }

    &__item,
    &__item a {
      display: flex;
      gap: 12px;
      align-items: center;
      font-family: Gilroy-M;
      font-size: $text-size;
      color: $main-text-color;

      cursor: pointer;

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        gap: 5px;
        font-size: 12px;
      }

      @media screen and (max-width: 767px) {
        gap: 5px;
        font-size: 14px;
      }
    }

    &__item {
      position: relative;
      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 0.67;
      }

      &.drop-active .dropdown__list {
        opacity: 1;
        pointer-events: all;
      }

      & svg {
        @media screen and (min-width: 768px) and (max-width: 1279px) {
          width: 8px;
          height: 11px;
          align-self: flex-end;
        }
      }
    }

    &__item.drop-active {
      &:hover {
        opacity: 1;
      }
    }

    & .dropdown__list {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      width: max-content;
      height: max-content;
      bottom: 0;
      left: -5px;
      transform: translateY(100%);
      backdrop-filter: blur(15px);
      background-color: #fcf8f37a;
      color: $third-text-color;
      padding: 5px;
      display: flex;
      flex-direction: column;
      border-radius: 6px;
      gap: 3px;
      min-width: 117px;
      z-index: 10;
      transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        min-width: 65px;
        padding: 3px;
        backdrop-filter: none;
        background-color: #fcf8f3fa;
      }

      @media screen and (max-width: 767px) {
        min-width: 50px;
        padding: 5px;
        backdrop-filter: none;
        background-color: #fcf8f3fa;
        pointer-events: all;
      }
    }

    & .dropdown__item {
      cursor: pointer;
      transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        opacity: 0.65;
      }
    }
  }

  & .search-wrapper {
    width: 473px;
    position: relative;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      max-width: 250px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      margin-bottom: 30px;
    }

    & .search {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 12px 22px 12px 44px;
      transition: 0.3s ease-in;

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        padding: 8px 12px 8px 28px;
        max-height: 30px;
        align-self: center;
      }

      &::placeholder {
        color: $secondary-text-color;
        font-family: Gilroy-R;
        font-size: 14px;
        line-height: 150%;

        @media screen and (min-width: 768px) and (max-width: 1279px) {
          font-size: 12px;
          line-height: 120%;
        }
      }

      &:hover,
      &:focus {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        outline: none;
      }

      &__icon {
        position: absolute;
        top: 0;
        transform: translateY(50%);
        left: 12px;

        @media screen and (min-width: 768px) and (max-width: 1279px) {
          left: 7px;
          max-width: 16px;
        }

        &:hover path {
          stroke: $accent-color;
        }
      }
    }
  }

  & .profile {
    display: flex;
    align-items: center;
    gap: 32px;
    max-height: 40px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      gap: 12px;
    }

    @media screen and (max-width: 767px) {
      position: absolute;
      top: 7px;
      right: 15px;
      flex-direction: row;
      gap: 12px;
      width: max-content;
    }

    &__cart {
      display: flex;
      height: 100%;
      align-items: center;

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        max-width: 18%;
      }

      &:hover path,
      &:hover circle {
        stroke: $accent-color;
      }
    }

    &__like {
      background-color: transparent;

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        max-width: 18%;
      }

      &:hover path {
        stroke: $accent-color;
      }
    }
  }
}

.hero {
  position: relative;
  z-index: 1;
  &.container {
    padding: 0;
    padding-top: 97px;
    background: linear-gradient(to right, $bcg-main-color 964px, $bcg-secondary-color 964px);

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      padding: 0;
      padding-top: 60px;
      background: linear-gradient(to right, $bcg-main-color 70%, $bcg-secondary-color 70%);
    }

    @media screen and (max-width: 767px) {
      background: linear-gradient(to right, $bcg-main-color 70%, $bcg-secondary-color 70%);
      padding-top: 20px;

      display: flex;
      flex-direction: column;
      gap: 39px;
    }
  }

  &__title-wrapper {
    max-width: 494px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    bottom: 80px;
    left: 100px;
    backdrop-filter: blur(15px);
    z-index: 100;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      max-width: 280px;
      padding: 30px;
      bottom: 20px;
      left: 30px;
    }

    @media screen and (max-width: 767px) {
      max-width: calc(100% - 30px);
      padding: 30px;
      position: static;
      margin: 0 auto;
    }

    & button {
      height: 78px;
      text-align: center;
      background-color: $accent-color;
      color: $white;
      font-family: Gilroy-S;
      font-size: 20px;
      line-height: 150%;
      transition: all 0.25s ease-in;

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        height: 58px;
        font-size: 16px;
      }

      @media screen and (max-width: 767px) {
        height: 38px;
        font-size: 16px;
        max-width: 230px;
        margin: 0 auto;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__title {
    margin-bottom: 16px;
    font-size: 56px;
    width: fit-content;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-bottom: 12px;
      font-size: 28px;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 10px;
      font-size: 30px;
    }
  }

  &__prescription {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 48px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-bottom: 28px;
      font-size: 16px;
    }

    @media screen and (max-width: 767px) {
      font-size: 16px;
      margin-bottom: 24px;
    }
  }

  &__slider-wrapper {
    display: flex;
    gap: 32px;
    overflow: hidden;
    width: 100%;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      gap: 22px;
    }

    @media screen and (max-width: 767px) {
      gap: 12px;
    }
  }

  &__slider {
    &__img {
      transform: translateX(-60%);

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        max-width: 70%;
        transform: translateX(-62%);
      }

      @media screen and (max-width: 767px) {
        width: 100%;
        transform: translateX(-91%);
      }
    }

    &__state-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      top: 22px;
      right: 100px;
      width: 687px;

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        top: 20px;
        right: 30px;
        width: 52%;
      }

      @media screen and (min-width: 1280px) and (max-width: 1439px) {
        width: 43%;
      }

      @media screen and (max-width: 767px) {
        top: unset;
        bottom: -35px;
        right: 2.6vw;
        width: 82vw;
      }

      & div:nth-child(2) {
        display: flex;
        gap: 8px;

        & button {
          width: 28px;
          height: 28px;
          background-color: #f6ddcc;
          border-radius: 50%;
          transition: all 0.3s ease-in;

          & svg {
            @media screen and (min-width: 768px) and (max-width: 1279px) {
              width: 16px;
            }
          }

          &:hover {
            box-shadow:
              rgba(17, 17, 26, 0.1) 0px 4px 16px,
              rgba(17, 17, 26, 0.1) 0px 8px 24px,
              rgba(17, 17, 26, 0.1) 0px 16px 56px;
          }
        }

        & button:nth-child(2) {
          width: 28px;
          height: 28px;
          background-color: $accent-color;
        }
      }
    }
  }

  & .slider__prescription {
    display: flex;
    justify-content: space-between;
    gap: 57px;
    height: 148px;
    padding: 24px;
    position: absolute;
    bottom: 40px;
    right: 140px;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(15px);

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      gap: 30px;
      padding: 12px;
      bottom: 20px;
      right: 30px;
      max-height: 88px;
      backdrop-filter: none;
      background-color: rgba(255, 255, 255, 0.9);
    }

    @media screen and (max-width: 767px) {
      gap: 10px;
      padding: 8px;
      bottom: 3vw;
      left: 15.7vw;
      max-height: 70px;
      max-width: 200px;
    }

    & div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 165px;

      @media screen and (max-width: 767px) {
        max-width: 120px;
        position: relative;
      }
    }

    &__h {
      font-family: Gilroy-S;
      font-size: 28px;

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 20px;
      }

      @media screen and (max-width: 767px) {
        font-size: 16px;
      }
    }

    &__p {
      color: $third-text-color;

      @media screen and (max-width: 767px) {
        font-size: 11px;
        line-height: 1;
      }
    }

    &__cost {
      font-family: Gilroy-S;
      font-size: 20px;
      line-height: 150%;
      color: $main-text-color;

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 14px;
      }

      @media screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 1.1;
      }
    }

    &__more {
      display: flex;
      align-items: flex-end;

      @media screen and (max-width: 767px) {
        position: absolute;
        bottom: 2px;
        right: 3px;
        width: 20px;
      }
    }
  }
}

.details {
  display: flex;
  justify-content: space-between;
  margin: 88px auto;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 38px auto;
  }

  @media screen and (max-width: 767px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    flex-wrap: wrap;
    margin: 58px auto;
    margin-bottom: 30px;
  }

  &__card {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      width: calc(50vw - 15px);
    }

    &__logo {
      margin: 24px;

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-left: 48px;
      }

      @media screen and (max-width: 767px) {
        margin: 0;
        margin-right: 10px;
        flex-shrink: 0;
        width: 29px;
      }
    }

    &__h {
      font-size: 18px;
      font-family: Gilroy-S;
      line-height: 150%;

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 20px;
      }

      @media screen and (max-width: 767px) {
        font-size: 15px;
        line-height: 120%;
      }
    }

    &__p {
      @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 14px;
      }

      @media screen and (max-width: 767px) {
        font-size: 11px;
      }
    }
  }

  &__info-wrp {
    display: flex;
    flex-direction: column;
  }
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 44px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 28px;
  }

  @media screen and (max-width: 767px) {
    font-size: 16px;
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 32px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-bottom: 24px;
      font-size: 28px;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 24px;
    }
  }

  &__list-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    width: 100%;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      gap: 16px;
    }

    @media screen and (max-width: 767px) {
      gap: 20px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 32px;
    width: 100%;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      grid-gap: 16px;
    }

    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-gap: 15px;
    }

    & .list__item {
      background-color: $card-bcg-color;
      position: relative;
      overflow: hidden;

      &:hover > .item__overlay {
        transform: translateY(-100%);

        @media screen and (min-width: 768px) and (max-width: 1279px) {
          transform: translateY(-100%);
        }
      }

      &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 16px 16px 30px 16px;

        @media screen and (min-width: 768px) and (max-width: 1279px) {
          padding: 12px;
          gap: 6px;
        }

        @media screen and (max-width: 767px) {
          gap: 6px;
          padding: 12px;
        }

        & div {
          display: flex;
          align-items: center;
          gap: 16px;

          @media screen and (min-width: 768px) and (max-width: 1279px) {
            gap: 6px;
            flex-direction: column;
            align-items: start;
          }

          @media screen and (max-width: 767px) {
            gap: 6px;
            flex-direction: column;
            align-items: start;
          }
        }
      }

      &__img {
        width: 100%;
      }

      &__h {
        font-size: 24px;
        font-family: Gilroy-S;

        @media screen and (min-width: 768px) and (max-width: 1279px) {
          font-size: 16px;
        }

        @media screen and (max-width: 767px) {
          font-size: 14px;
        }
      }

      &__cost {
        font-size: 20px;
        font-family: Gilroy-S;
        color: $main-text-color;
        @media screen and (min-width: 768px) and (max-width: 1279px) {
          font-size: 13px;
        }
        @media screen and (min-width: 1280px) and (max-width: 1439px) {
          font-size: 16px;
          line-height: 139%;
        }

        @media screen and (max-width: 767px) {
          font-size: 12px;
        }

        &--old {
          font-size: 16px;
          font-family: Gilroy-R;
          color: $old-price-color;
          line-height: 100%;
          text-decoration: line-through;
          @media screen and (min-width: 768px) and (max-width: 1279px) {
            font-size: 11px;
          }

          @media screen and (min-width: 1280px) and (max-width: 1439px) {
            font-size: 15px;
            line-height: 135%;
          }

          @media screen and (max-width: 767px) {
            font-size: 10px;
            line-height: 150%;
          }
        }
      }

      &__discount {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        top: 24px;
        right: 24px;
        border-radius: 50%;
        color: $white;
        font-size: 16px;
        font-family: Gilroy-M;
        line-height: 150%;

        @media screen and (min-width: 768px) and (max-width: 1279px) {
          font-size: 14px;
          width: 39px;
          height: 39px;
          top: 15px;
          right: 15px;
        }

        @media screen and (max-width: 767px) {
          font-size: 12px;
          width: 34px;
          height: 34px;
          top: 8px;
          right: 8px;
        }

        &--hidden {
          display: none;
        }
        &--red {
          background-color: $salary-red;
        }
        &--green {
          background-color: $salary-green;
        }
      }

      & .item__overlay {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        bottom: -100%;
        margin: 0;
        padding: 0 42px;
        width: 100%;
        height: 100%;
        font-size: 18px;
        background-color: rgba(58, 58, 58, 0.72);
        color: $white;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 768px) and (max-width: 1279px) {
          padding: 0 12px;
          gap: 18px;
        }

        @media screen and (max-width: 767px) {
          padding: 0 15px;
          gap: 18px;
        }

        &__btn {
          background-color: $white;
          height: auto;
          color: $accent-color;
          transition: all 0.4s ease-in-out;

          @media screen and (min-width: 768px) and (max-width: 1279px) {
            font-size: 16px;
          }

          @media screen and (max-width: 767px) {
            font-size: 14px;
          }

          &:hover {
            opacity: 0.8;
          }
        }

        &__link {
          display: flex;
          align-items: center;
          gap: 11px;
          font-family: Gilroy-S;
          font-size: 16px;
          line-height: 150%;
          color: $white;
          transition: all 0.4s ease-in-out;

          @media screen and (min-width: 768px) and (max-width: 1279px) {
            gap: 6px;
          }

          @media screen and (max-width: 767px) {
            gap: 3px;
            font-size: 12px;
          }

          & svg {
            @media screen and (max-width: 767px) {
              width: 18px;
              height: 18px;
            }
          }

          &:hover {
            opacity: 0.7;
          }
        }

        & div {
          display: flex;
          justify-content: space-around;
          width: 100%;

          @media screen and (min-width: 768px) and (max-width: 1279px) {
            gap: 12px;
          }

          & svg {
            @media screen and (min-width: 768px) and (max-width: 1279px) {
              width: 80%;
              height: 80%;
            }
          }

          & svg path {
            stroke: $white;
          }
        }
      }
    }
  }

  &__more-btn {
    width: 245px;
    border: 1px solid $accent-color;
    background-color: transparent;
    color: $accent-color;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 188px;
    }

    @media screen and (max-width: 767px) {
      width: 200px;
    }

    &:hover {
      background-color: $bcg-secondary-color;
    }
  }
}

.inspiration {
  display: flex;
  background-color: $bcg-secondary-color;
  padding-top: 44px;
  padding-bottom: 44px;
  margin-bottom: 44px;
  overflow: hidden;
  position: relative;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 28px;
    padding-bottom: 35px;
    margin-bottom: 28px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 28px;
    padding-bottom: 35px;
    margin-bottom: 28px;
    flex-direction: column;
    gap: 28px;
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 378px;
    flex-shrink: 0;
    margin-right: 86px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-right: 50px;
      max-width: 260px;
    }

    @media screen and (max-width: 767px) {
      max-width: 204px;
      margin: 0 auto;
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__description {
    color: $third-text-color;
    margin-bottom: 24px;
  }

  &__btn-more {
    color: $white;
    width: 176px;
    background-color: $accent-color;
    height: auto;
    transition: all 0.4s ease-in-out;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__slider {
    position: relative;
    display: flex;

    & div {
      display: flex;
      gap: 24px;
    }

    &__h {
      font-family: Gilroy-S;
      font-size: 28px;

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 20px;
      }

      @media screen and (max-width: 767px) {
        font-size: 18px;
      }
    }

    &__p {
      display: flex;
      align-items: center;
      gap: 8px;
      color: $third-text-color;

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 14px;
      }

      @media screen and (max-width: 767px) {
        font-size: 14px;
      }
    }

    &__btn-next {
      position: absolute;
      top: 50%;
      right: 55px;
      transform: translateY(-50%);

      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: $white;
      transition: all 0.3s ease-in;
      filter: drop-shadow(0 7px 2mm rgba(0, 0, 0, 0.1));

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 38px;
        height: 38px;
      }

      @media screen and (max-width: 767px) {
        width: 34px;
        height: 34px;
        bottom: 35%;
        top: unset;
        right: 34px;
        transform: unset;
      }

      & svg {
        @media screen and (max-width: 767px) {
          height: 13px;
        }
      }

      &:hover {
        box-shadow:
          rgba(17, 17, 26, 0.1) 0px 4px 16px,
          rgba(17, 17, 26, 0.1) 0px 8px 24px,
          rgba(17, 17, 26, 0.1) 0px 16px 56px;
      }
    }

    &__btn-more {
      position: absolute;
      bottom: 0;
      right: -48px;
      width: 48px;
      height: 48px;
      background-color: $accent-color;
      transition: all 0.3s ease-in;

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 38px;
        height: 38px;
        right: -38px;
      }

      @media screen and (max-width: 767px) {
        width: 34px;
        height: 34px;
        right: -34px;
      }

      & svg path {
        fill: $white;
      }

      &:hover {
        opacity: 0.75;
      }
    }

    &__btn-wrapper {
      position: absolute;
      bottom: 24px;
      left: 24px;
      padding: 32px;
      background-color: rgba(255, 255, 255, 0.85);
      backdrop-filter: blur(15px);
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        padding: 10px 22px;
      }

      @media screen and (max-width: 767px) {
        padding: 16px 22px;
      }

      & div {
        flex-direction: column;
        gap: 8px;
      }
    }
  }

  &__img {
    @media screen and (max-width: 767px) {
      width: calc(100vw - 30px);
    }
  }

  &__img.shrink {
    height: 83.5%;
  }

  &__dots.radio {
    position: absolute;
    bottom: 29px;
    left: 36.5%;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      bottom: -26px;
      left: 14.5%;
      gap: 16px;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.tips {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  margin-bottom: 44px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 34px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__content-wrapper {
    display: flex;
    gap: 32px;
    width: 100%;
    overflow: hidden;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 16px;
    }
  }

  &__slider__switch-btn {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $white;
    transition: all 0.3s ease-in;
    filter: drop-shadow(0 7px 2mm rgba(0, 0, 0, 0.1));
    transition: all 0.3s ease-in;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 34px;
      height: 34px;
    }

    @media screen and (max-width: 767px) {
      width: 30px;
      height: 30px;
    }

    &:hover {
      box-shadow:
        rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px;
    }

    & svg {
      @media screen and (max-width: 767px) {
        height: 13px;
      }
    }

    &.left {
      top: 50%;
      left: 77px;
      transform: translateY(-50%);

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        left: 15px;
      }

      @media screen and (max-width: 767px) {
        top: 43%;
        left: 5px;
      }
    }
    &.right {
      top: 50%;
      right: 77px;
      transform: translateY(-50%);

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        right: 15px;
      }

      @media screen and (max-width: 767px) {
        top: 43%;
        right: 5px;
      }
    }
  }

  &__card-wrapper {
    display: flex;
    flex-direction: column;

    &:nth-child(1) {
      @media screen and (max-width: 767px) {
        width: calc(100vw - 30px);
        display: flex;
      }
    }

    & {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    &.active {
      box-shadow:
        rgba(97, 97, 97, 0.1) 0px 5px 55px,
        rgba(97, 97, 97, 0.1) 0px -15px 70px;
      margin-bottom: 44px;

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-bottom: 30px;
      }

      @media screen and (max-width: 767px) {
        margin-bottom: 0px;
      }
    }
  }

  &__card-bottom-wrapper {
    padding: 12px;
  }

  &__card__p {
    font-family: Gilroy-S;
    font-size: 24px;
    line-height: 120%;
    color: $main-text-color;
    margin-bottom: 8px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-size: 14px;
    }

    @media screen and (max-width: 767px) {
      font-size: 20px;
      margin-bottom: 6px;
    }
  }

  &__card__date {
    font-family: Gilroy-R;
    font-size: 14px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-size: 11px;
    }
  }

  &__card__img {
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      max-width: calc((100vw / 3) - 30px);
    }
  }
}

.share {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  overflow: hidden;

  &__header-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }

  &__description {
    font-size: 20px;
    font-family: Gilroy-S;
    color: $third-text-color;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-size: 14px;
    }

    @media screen and (max-width: 767px) {
      font-size: 14px;
    }
  }

  &__content-wrapper {
    display: flex;
    gap: 16px;
    margin-bottom: 87px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-bottom: -290px;
      gap: 12px;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: -310px;
      gap: 10px;
    }

    transform: translateX(6%);
  }

  & .content__left-wrp {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      gap: 12px;
      transform: scale(0.55) translateX(49%) translateY(-44%);
    }

    @media screen and (max-width: 767px) {
      gap: 10px;
      transform: scale(0.55) translateX(34%) translateY(-49%);
    }

    & div {
      display: flex;
      gap: 16px;

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        gap: 12px;
      }

      @media screen and (max-width: 767px) {
        gap: 10px;
      }
    }

    & div:nth-child(1) {
      align-items: flex-end;
    }

    & div:nth-child(1) img:nth-child(2) {
      max-height: 312px;
    }

    & div:nth-child(2) img:nth-child(2) {
      max-height: 242px;
    }
  }

  & .content__right-wrp {
    display: flex;
    gap: 16px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      gap: 12px;

      transform: scale(0.55) translateX(-36%) translateY(-42%);
    }

    @media screen and (max-width: 767px) {
      gap: 10px;
      transform: scale(0.55) translateX(-46.6%) translateY(-44%);
    }

    & div:nth-child(1) {
      display: flex;
      align-items: center;
    }

    & div:nth-child(2) {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        gap: 12px;
      }

      @media screen and (max-width: 767px) {
        gap: 10px;
      }

      & div {
        display: flex;
        gap: 16px;
        flex-direction: row;

        @media screen and (min-width: 768px) and (max-width: 1279px) {
          gap: 12px;
        }
      }

      & div:nth-child(1) {
        align-items: flex-end;
      }

      & div:nth-child(2) img:nth-child(2) {
        max-height: 196px;
      }
    }
  }
}

.footer {
  padding: 80px 0 50px 0;
  border-top: 2px solid $dots-color;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding: 60px 0 50px 0;
  }

  @media screen and (max-width: 767px) {
    padding: 50px 0 40px 0;
  }

  &__content-wrapper {
    display: flex;
    gap: 80px;
    position: relative;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      gap: unset;
      justify-content: space-between;
    }

    @media screen and (max-width: 767px) {
      gap: 18px;
      flex-direction: column;
    }

    & .title {
      font-size: 24px;
      color: $black;

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 18px;
      }
    }
  }

  &__logo-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 249px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      gap: 12px;
      max-width: 180px;
    }
  }

  &__logo {
    font-family: Gilroy-B;
    font-size: 24px;
    line-height: 120%;
    color: $black;
    transition: all 0.2s ease-in-out;
    width: max-content;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-size: 20px;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  &__information__list,
  &__menu,
  &__menu__list,
  &__account,
  &__account__list,
  &__social,
  &__social__list,
  &__subscribe {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      gap: 12px;
    }

    @media screen and (max-width: 767px) {
      gap: 6px;
    }
  }

  &__menu__item a,
  &__account__item a,
  &__social__item a {
    font-size: 16px;
    line-height: 150%;
    font-family: Gilroy-M;
    color: $third-text-color;
    transition: all 0.2s ease-in-out;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-size: 12px;
    }

    @media screen and (max-width: 767px) {
      font-size: 16px;
    }

    &:hover {
      opacity: 0.65;
    }
  }

  &__information__item,
  &__information__item a,
  &__social__link {
    display: flex;
    gap: 8px;
    align-items: center;

    font-size: 16px;
    line-height: 150%;
    font-family: Gilroy-R;
    color: $third-text-color;
    transition: all 0.3s ease-in;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-size: 12px;
      gap: 5px;
    }
  }

  &__information__item a:hover {
    color: $accent-color;
  }

  &__account {
    @media screen and (max-width: 767px) {
      position: absolute;
      top: 37.6%;
      right: 0;
    }
  }

  &__social__list {
    @media screen and (max-width: 767px) {
      flex-direction: row;
      justify-content: space-between;
    }

    & .footer__social__link {
      @media screen and (max-width: 767px) {
        gap: 4px;
      }
    }
  }

  &__social__title,
  &__subscribe__title {
    @media screen and (max-width: 767px) {
      margin-bottom: 10px;
      text-align: center;
    }
  }

  & .social__logo {
    width: 20px;
    height: 20px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 16px;
      height: 16px;
    }

    & path {
      fill: $third-text-color;
    }
  }

  &__subscribe {
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      position: absolute;
      bottom: -15px;
      right: 0;
    }

    & .title {
      @media screen and (min-width: 768px) and (max-width: 1279px) {
        text-align: end;
      }
    }
  }

  &__subscribe div {
    display: flex;
    gap: 4px;
    height: 45px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      height: 38px;
    }

    @media screen and (max-width: 767px) {
      margin: 0 auto;
    }
  }

  &__subscribe__input {
    padding: 10px 12px;
    background-color: $card-bcg-color;
    transition: 0.3s ease-in;
    min-width: 242px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      padding: 8px 10px;
      min-width: 212px;
    }

    &::placeholder {
      color: $input-color;
      font-family: Gilroy-R;
      font-size: 16px;
      line-height: 150%;

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 14px;
      }
    }

    &:hover,
    &:focus {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      outline: none;
    }
  }
  &__subscribe__btn {
    background-color: $accent-color;
    padding: 11px;
    transition: 0.3s ease-in;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      padding: 10px;
    }

    @media screen and (max-width: 767px) {
      max-width: 46px;
    }

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}
